@mixin theme() {
    color-scheme: dark !important;

    --color-green: rgb(86, 209, 49);
    --color-line: rgb(40, 44, 45);
    --background: rgb(16, 17, 18);
    --foreground: rgb(255, 255, 255);
    --card: rgb(39, 39, 39);
    --card-foreground: rgb(255, 255, 255);
    --popover: rgb(39, 39, 39);
    --popover-foreground: rgb(255, 255, 255);
    --primary: rgb(255, 255, 255);
    --primary-foreground: rgb(53, 53, 53);
    --secondary: rgb(68, 68, 68);
    --secondary-foreground: rgb(255, 255, 255);
    --muted: rgb(68, 68, 68);
    --muted-foreground: rgb(191, 191, 191);
    --accent: rgb(68, 68, 68);
    --accent-foreground: rgb(255, 255, 255);
    --destructive: rgb(158, 41, 46);
    --destructive-foreground: rgb(215, 88, 90);
    --border: rgb(68, 68, 68);
    --input: rgb(68, 68, 68);
}
